<p>
  employee-list works!
</p>
<div fxLayout="row" fxLayoutAlign="">
    <div [fxFlex]="70">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> 
    </div>
    <div [fxFlex]="30">
        <a mat-raised-button [routerLink]= "['/employee-add']"> Add employee </a>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.First}} {{employee.Last}}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let employee"> {{employee.Email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let employee"> {{employee.Phone}} </td>
    </ng-container>

    <ng-container matColumnDef="skype">
        <th mat-header-cell *matHeaderCellDef> Skype </th>
        <td mat-cell *matCellDef="let employee"> {{employee.Skype}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let employee">
            <a mat-button [routerLink]= "['/employee-edit', employee.Id]">edit</a>
          </td>
      </ng-container>

      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let employee">
            <button mat-button (click)="deleteEmployee(employee.Id)">delete</button >
          </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
</div>